# Python
__pycache__/
*.pyc
venv/

# Node / Next.js
node_modules/
.next/

# Old frontend
frontend_old/

*.tar


# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log